---
import Table from "@components/Table.astro";
import PageLayout from "@layouts/PageLayout.astro";
import TopconLayout from "@layouts/TopconLayout.astro";

const { id } = Astro.params;
const response = await fetch(`http://127.0.0.1:8000/api/topcon/${id}`);
const data = await response.json();

// console.log(data);
---

<PageLayout title="TOPCON Ditch Volume">
  <TopconLayout>
    <div class="flex justify-between items-center">
      <div>
        <h2>Ditch Volume Calculation - {data.KP_rng}</h2>
        <p>{new Date(data.createdAt)}</p>
      </div>
      <a
        href={`http://127.0.0.1:8000/api/topcon/${id}/download`}
        class="bg-red-500 px-8 py-2 text-white rounded shadow font-bold"
        download
        >Download Excel</a
      >
    </div>
    <br />
    <Table
      columns={[
        "num",
        "x",
        "y",
        "z",
        "desc",
        "chainage",
        "slope",
        "width_bot",
        "width_top",
        "area",
      ]}
      data={data.data_pts}
    />

    <Table
      columns={[
        "KP_beg",
        "KP_end",
        "area_beg",
        "area_end",
        "area_avg",
        "length",
        "volume",
      ]}
      data={data.data_rng}
    />
  </TopconLayout>
</PageLayout>
